<main class="Card animate__animated animate__flipInY">
  <div class="card-head">
    <h2>New Task</h2>
  </div>
  <div class="juntar">
    <!-- creando el evento submit -->
    <form action="" (submit)="AgregarTare($event,nuevaTarea)">
      <input type="text" name="tarea" #nuevaTarea id="" placeholder="Create your task here.." >
      <button class="" type="submit">add</button>
    </form>
  </div>
  <div>
    <div>
      <input type="checkbox">
      <p>Nombre de la tarea </p>
      <p>Icono</p>
    </div>
  </div>
</main>
