<div class="cont-table animate__animated animate__bounce">
    <h2>List Tasks</h2>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Completada</td>
                <td>Accions</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tarea of Tareas">
                <td>{{tarea.nombre}}</td>
                <td>{{tarea.completado ? "Completado": "Incompleto"}}</td>
                <td>Accions</td>
            </tr>
        </tbody>
    </table>
</div>
